<div class="card w-75" style="margin: 9%; background-color: rgba(135, 207, 235, 0.205);">
  <div class="card-body">
    <form>
      <div class="form-group">
        <label for="organiationName">Organization Name</label>
        <input type="text" class="form-control" placeholder="Enter organization name">
      </div>
      <div class="form-group">
        <label for="emailAddress">Email Address</label>
        <input type="email" class="form-control" placeholder="Enter email address">
      </div>
      <div class="form-group">
        <label for="websiteUrl">Website Url</label>
        <input type="text" class="form-control" placeholder="Enter website url">
      </div>
      <button class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>